<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <entityFramework>
    
  </entityFramework>
  <connectionStrings>
    <add name="AgencyProjectContext" connectionString="Data Source=(localdb)\MSSQLLocalDB; Initial Catalog=AgencyProject; Integrated Security=True;"
         providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>